#navigation {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#navigation > li:hover, #navigation > div:hover, .pagelink:hover{
    cursor: pointer;
}
#navigation > li:hover, #navigation > div:hover{
    color: #000;
}
#navigation > li{
    margin-top: 5px;
    margin-bottom: 15px;
}
#navigation{
    border: #dddddd solid;
    position: fixed;
    top: 30px;
    display: none;
    background-color: #fff;
    padding: 10px 10px 10px 25px;
    border-radius: 5px;
    min-width: 200px;    
    min-height: 60px;
    z-index: 1000;
}
#content{
    padding-left: 10%;
    padding-right: 10%;
}
#toggleNav{
    margin-left: 10px;
}
#changeTheme{

}
hr{
    color: var(--light-header-color);
}

img{
    max-width: 350px !important;
}