textarea{
    width: 100%;
    color: var(--text-color);
    background-color: var(--bg-color);
}

.btn{
    color: var(--bg-color);
    background-color: var(--select-text-bg-color);
    border: 0px;
    padding: 5px;
}